.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6347; /* Màu đỏ cà chua */
  padding: 10px 20px;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

.search-container {
  display: flex;
}

.search-container input {
  padding: 5px;
}
.carousel {
  width: 100%; /* Chiều rộng 100% */
  max-height: 400px; /* Giới hạn chiều cao */
  overflow: hidden; /* Ẩn phần ảnh vượt quá chiều cao */
}

.carousel img {
  width: 100%; /* Chiều rộng 100% của ảnh */
  height: auto; /* Giữ tỷ lệ khung hình */
  max-height: 400px; /* Giới hạn chiều cao của ảnh */
}
